 /* *************  left side logo and website heading ************* */
.headerContainer{
    background-color:tan;
    position: relative;
    width: 100vw;
    height: 65px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
.logo h1{
    position: relative;
    left: 10px;
    top: 1px;
}
.logo h2{
    position: relative;
    left: 14px;
    top:6px;
}
.logo h2 a{
    text-decoration: none;
}

/* ************ rights side login section ************* */
.login-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 35px;
}

.login-section ul{
    margin-top: 10px;
    list-style: none;
}